
<div class="carts-containers">
  <div class="carts-search-add">
    <mat-form-field class="custom-mat-form-field"  >
      <mat-label >Search 🔎</mat-label>
      <input matInput name="filterName" [(ngModel)]="filterName"  (ngModelChange)="onSelected()" >
    </mat-form-field >
  </div>
  <div class="cards-title-details">
    <h1 class="cards-title" >EMPLOYEE DETAILS</h1>
    <button mat-raised-button class="custom-mat-form-button"  (click)="handleIsTable()">{{isTable? "SHOW CARDS" : "SHOW TABLE"}}</button>
    <button mat-raised-button class="custom-mat-form-button" (click)="handleAddEmployee()">ADD EMPLOYEE</button>
  </div>
    <app-employee-table-display-page *ngIf="isTable"></app-employee-table-display-page>
  <div *ngIf="!isTable" class="carts-details">
    <div *ngFor="let employee of employees$ | async">
      <app-employee-card-page [id]="employee.id"
                         [firstName]="employee.firstName"
                         [lastName]="employee.lastName"
                         [email]="employee.email"
                         [phone]="employee.phone"
                         [authority]="employee.authority"
                         [employee$]="employees$"
                         (employeeUpdated)="onUpdate()"
      ></app-employee-card-page>
    </div>
  </div>
</div>

