.login-page-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;

  .login-page-fields{
    width: 27rem;
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-shadow: 0 0 10px -5px;

    .custom-mat-form-field{
      margin: 3px;
    }

    .login-buttons{
      margin: 0 10px;
    }
  }
}
